In [81]:
import sqlite3
import pandas as pd

# import csvs into dataframes
county_covid_df = pd.read_csv('data/county_covid_data_20200716.csv')
county_votes_df = pd.read_csv('data/us_rep_2018_votes_tx_counties.csv')
fips_df = pd.read_csv('data/county_fips.csv')

# Merge covid df with fips data
county_covid_df = pd.merge(fips_df, county_covid_df, on='county')
county_covid_df.head()

,fips_code,county,date,total_cases,percent_of_states_cases,incidence_rate,total_deaths,exposure_rate
0,48001,Anderson,20200716,1944,0.7,3367,0,3.367
1,48003,Andrews,20200716,174,0.1,930,0,0.930
2,48005,Angelina,20200716,1000,0.3,1153,0,1.153
3,48007,Aransas,20200716,65,0.0,276,0,0.276
4,48009,Archer,20200716,0,0.0,0,0,0.000

In [82]:
# Merge votes df with fips data
county_votes_df = pd.merge(fips_df, county_votes_df, on='county')
county_votes_df.head()

   fips_code    county  dem_votes  rep_votes  total_votes party
0      48001  Anderson       3162    11421.0        14603     R
1      48003   Andrews        656     3419.0         4123     R
2      48005  Angelina       6706    19231.0        26257     R
3      48007   Aransas       2021     6676.0         8917     R
4      48009    Archer        310     3249.0         3603     R

In [92]:
# Merge votes and covid dfs
cols_to_use = county_votes_df.columns.difference(county_covid_df.columns)
county_combined_votes_covid_df = pd.merge(county_covid_df, county_votes_df[cols_to_use],left_index=True, right_index=True, how='outer')
county_combined_votes_covid_df.head()

,fips_code,county,date,total_cases,percent_of_states_cases,incidence_rate,total_deaths,exposure_rate,dem_votes,party,rep_votes,total_votes
0,48001,Anderson,20200716,1944,0.7,3367,0,3.367,3162.0,R,11421.0,14603.0
1,48003,Andrews,20200716,174,0.1,930,0,0.930,656.0,R,3419.0,4123.0
2,48005,Angelina,20200716,1000,0.3,1153,0,1.153,6706.0,R,19231.0,26257.0
3,48007,Aransas,20200716,65,0.0,276,0,0.276,2021.0,R,6676.0,8917.0
4,48009,Archer,20200716,0,0.0,0,0,0.000,310.0,R,3249.0,3603.0

In [97]:
county_population_df = pd.read_csv('data/county_population.csv')
county_population_df.head()

     county  population
0  Anderson       58199
1   Andrews       22269
2  Angelina       90437
3   Aransas       27699
4    Archer        8344

In [98]:
county_combined_votes_covid_df = pd.merge(county_combined_votes_covid_df, county_population_df, on='county')
county_combined_votes_covid_df.head()

,fips_code,county,date,total_cases,percent_of_states_cases,incidence_rate,total_deaths,exposure_rate,dem_votes,party,rep_votes,total_votes,population
0,48001,Anderson,20200716,1944,0.7,3367,0,3.367,3162.0,R,11421.0,14603.0,58199
1,48003,Andrews,20200716,174,0.1,930,0,0.930,656.0,R,3419.0,4123.0,22269
2,48005,Angelina,20200716,1000,0.3,1153,0,1.153,6706.0,R,19231.0,26257.0,90437
3,48007,Aransas,20200716,65,0.0,276,0,0.276,2021.0,R,6676.0,8917.0,27699
4,48009,Archer,20200716,0,0.0,0,0,0.000,310.0,R,3249.0,3603.0,8344

In [101]:
from datetime import date

datestamp = date.today().strftime("%Y%m%d")
filename = 'county_combined_covid_vote_data_{}.csv'.format(datestamp)
county_combined_votes_covid_df.to_csv(r'data/' + filename, index = False)